<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RacePredictorGP</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <nav>
        <a class="navbar-logo" href="#"><img src="../images/RacePredictorGpLogo.png" alt="RacePredictor Logo"></a>

        <div class="nav-panel">
            <a href="predict.html">Predict</a>
            <a href="leaderboard.html">Leaderboard</a>
            <a href="shop.html">Shop</a>
            <a href="login.html">Login</a>
        </div>
    </nav>
    <div class="info">
            <h2>About RacePredictorGP</h2>
            <p>
                This website was created especially for MotoGP fans to enhance the excitement of watching races with a bit of prediction fun.
                The goal is to enrich the race-watching experience by allowing you to predict the finishing order of riders and compare your
                predictions with others. Currently, there are no prizes for winners – it's all just for fun and to foster friendly competition
                with other fans, which you can track on our leaderboard.
            </p>
            <p>
                However, there’s a possibility that top predictors could be rewarded in the future. You can support the website through voluntary
                donations, helping us introduce prizes for the best predictors. Another way to contribute is by purchasing MotoGP-themed merchandise,
                with the proceeds going toward funding prize pools.
            </p>
            <p>
                As the website grows in popularity globally, we hope to attract sponsors who could offer rewards for the best players.
                Join us and make MotoGP races even more thrilling!
            </p>
    </div>

    <div class="cards">
        <div class="predict">
            <h3>Predict the Race</h3>
            <p>Test your MotoGP knowledge and prediction skills with RacePredictorGP! Before each race, you can submit your predictions on how the riders will finish.</p>
            <button onclick="window.location.href='predict.html'">Predict</button>
        </div>

        <div class="leaderboard">
            <h3>Leaderboard</h3>
            <p>The leaderboard is where you can track your progress and compare your prediction skills with the best players.</p>
            <button onclick="window.location.href='leaderboard.html'">Leaderboard</button>
        </div>

        <div class="shop">
            <h3>Shop</h3>
            <p>Support the RacePredictorGP project and show off your MotoGP passion with our exclusive merchandise! The shop offers a variety of products for every MotoGP fan, including.</p>
            <button onclick="window.location.href='shop.html'">Shop</button>
        </div>
    </div>
</body>
</html>