<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leaderboard</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <nav>
        <a class="navbar-logo" href="#"><img src="../images/RacePredictorGpLogo.png" alt="RacePredictor Logo"></a>

        <div class="nav-panel">
            <a href="index.html">Home</a>
            <a href="predict.html">Predict</a>
            <a href="shop.html">Shop</a>
        </div>
    </nav>

    <div class="info">
        <h2>Leaderboard</h2>
        <p>Check your current rank and see how you compare to other players. Stay competitive by improving your predictions with each race!</p>
    </div>
</body>
</html>