<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Predict</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <nav>
        <a class="navbar-logo" href="#"><img src="../images/RacePredictorGpLogo.png" alt="RacePredictor Logo"></a>

        <div class="nav-panel">
            <a href="index.html">Home</a>
            <a href="leaderboard.html">Leaderboard</a>
            <a href="shop.html">Shop</a>
        </div>
    </nav>

    <div class="info">
        <h2>Predict the Race</h2>
        <p>Here you can test your knowledge of MotoGP and predict the order in which the riders will finish. The more accurate your predictions, the more points you'll earn!</p>
    </div>
</body>
</html>