<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <nav>
        <a class="navbar-logo" href="#"><img src="../images/RacePredictorGpLogo.png" alt="RacePredictor Logo"></a>

        <div class="nav-panel">
            <a href="index.html">Home</a>
            <a href="leaderboard.html">Leaderboard</a>
            <a href="predict.html">Predict</a>
        </div>
    </nav>

    <div class="info">
        <h2>Shop</h2>
        <p>Support RacePredictorGP by purchasing exclusive MotoGP-themed merchandise! Proceeds go toward maintaining the platform and funding potential prizes for top predictors.</p>
    </div>
</body>
</html>